# Virtual environment
.venv/

# IDE
.vscode/





# -----Biocomputing FInal Project gitignore----------
# Python cache
Biocomputing_Final_Project/__pycache__
Biocomputing_Final_Project/*.pyc

# OS files
Biocomputing_Final_Project/.DS_Store
Biocomputing_Final_Project/Thumbs.db

# Environment variables
Biocomputing_Final_Project/.env

# IDE files
Biocomputing_Final_Project/.vscode/
Biocomputing_Final_Project/.idea/

# Project notes
Biocomputing_Final_Project/Questions about the Coursework.txt
Biocomputing_Final_Project/project advise.txt